body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --rgba: rgb(29, 161, 242, 0.3);
  --blue: rgb(29, 161, 242);
  --header: 90px;
  --black: #000;
  --white: #fff;
  --color: rgb(0, 0, 146);
  --border: #e1e1e1;
  --red: rgb(243, 86, 86);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 1rem;
}


.app-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.login {
  color: var(--color);
  margin: auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
  text-align: center;
  /* Căn giữa nội dung của container */
}

.login-form {
  border-top: 1px solid var(--blue);
  padding: 12px;
  /* Khoảng cách giữa border-top và nội dung form */
  margin-top: 42px;
  /* Khoảng cách giữa form và phần trước đó */
}


.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0 30px 0;
  /* margin-bottom: 30px; */
  border-bottom: 2px solid var(--black);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000;
  font-weight: 600;
  pointer-events: none;
  transform: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}


.input-box input {
  color: var(--color);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
  background: transparent;
}

.input-box .icon {
  right: 8px;
  color: var(--color);
  font-size: 1.2em;
  line-height: 55px;
  position: absolute;
}

.btn-submit-login {
  width: 100%;
  height: 45px;
  color: var(--black);
  background: var(--blue);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
}

.login-qmk {
  text-decoration: none;
  display: block;
  text-align: right;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.text-center {
  display: flex;
  font-size: 2.5em;
  color: rgb(74, 179, 240);
  align-items: center;
  justify-content: center;
  /* margin-bottom: 12px; */
  margin-top: 20px;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  color: var(--black);
  font-size: 1.2em;
  margin-top: 72px;
}

.table {
  width: 100%;
}

.table th,
.table td {
  white-space: nowrap;
  padding: 8px 16px;
  text-align: left;
  border: 1px solid var(--border);
}

.table th.fixed-column,
.table td.fixed-column {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #fff;
}

.table th:not(.fixed-column) {
  background-color: var(--border);
}

.table th:not(.fixed-column)+th:not(.fixed-column) {
  background-color: var(--border);
}

/* Cài đặt độ rộng cố định cho các cột cố định */
.table th.fixed-column {
  min-width: 100px;
}

.modal-add .img-preview {
  height: 150px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.modal-add .img-preview img {
  max-width: 100%;
  max-height: 100%;
}

.modal-add .label-upload {
  background: #eeeeee;
  border: none;
  cursor: pointer;
}

.bt-create {
  position: absolute;
  right: 10px;
}