.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}


.owl-carousel {
    position: relative;
}

.owl-carousel .owl-item {
    opacity: .4;
}

.owl-carousel .owl-item.active {
    opacity: 1;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    color: #167ce9 !important;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #adb8cc;
    position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #adb8cc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #55688b;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
    left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
    right: -25px;
}

.cam-nhan-section .owl-carousel .owl-nav .owl-prev,
.cam-nhan-section .owl-carousel .owl-nav .owl-next {
    font-size: 24px;
    color: #fff !important;
}

.cam-nhan-section {
    position: relative;
    /* background-image: url(../images/bg_Y_Kien_HV.jpg); */
    background-size: cover;
    padding: 50px 0;
}

.cam-nhan-section .owl-carousel {
    margin: 0;
}

.cam-nhan-section .owl-carousel .owl-stage-outer {
    padding-bottom: 2em;
    padding-top: 4em;
    position: relative;
}

.cam-nhan-wrap {
    display: block;
    position: relative;
    padding: 30px 20px 25px;
    border: 1px solid #f5f7f9;
    background: #fff;
    -webkit-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cam-nhan-wrap .user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cam-nhan-wrap .user-img .quote {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    background: #167ce9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.cam-nhan-wrap .user-img .quote i {
    color: #fff;
}

.cam-nhan-wrap .item-text {
    font-family: "Open Sans", sans-serif;
}

.cam-nhan-wrap .noi-dung-cam-nhan {
    font-size: 15px;
    height: 120px;
}

.cam-nhan-wrap .name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #167ce9;
}

.cam-nhan-wrap .position {
    font-size: 13px;
    color: #8d9db9;
    height: 20px;
    display: block;
}

.cam-nhan-wrap a:hover {
    color: #FD6504;
}

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.section-title-white,
.section-title-white .tieu-de-muc,
.section-title-white span {
    color: #fff;
}

.section-title-white .double-line-bottom:before,
.section-title-white .double-line-bottom:after {
    background-color: #fff;
}