/* CSS Document */
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext,vietnamese";

ul,
ol {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	list-style: none;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #0082c8;
	border-color: #0082c8;
}

.panel-primary {
	border-color: #ffffff;
}

.panel-primary .panel-body {
	padding: 5px 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #0082c8;
	padding: 0px 8px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #337ab7;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: #FFF;
	color: #337ab7;
}

.dropdown-menu>li>a {
	line-height: 20px;
	color: #0082c8;
	font-size: 14px;
}

.dropdown-menu>li>a:hover {
	background-color: #FFF;
	color: #337ab7;
}

.panel-default>.panel-heading {
	color: #FD6504;
	background-color: #FDFBFB;
	border-color: #FDFBFB;
	padding: 10px 15px 6px 15px;

}

.panel-default {
	border-color: #FFF;
}

.panel-group {
	margin-bottom: 0px;
}

.panel-default .panel-body {
	padding: 10px 15px 0px 15px;
}

.panel-heading .glyphicon {
	color: #ffffff;
}

.glyphicon {
	top: 0px;
}

.panel-title {
	text-transform: uppercase;
	font-weight: bold;
}

.banner-chinh-nganh {
	position: relative;
}

.banner-chinh-nganh .chuong-trinh-dao-tao {
	position: absolute;
	top: 20%;
	left: 6%;
}

.banner-chinh-nganh .chuong-trinh-dao-tao h2 {
	color: #ffffff;
	font-size: 28px;
	line-height: 40px;
	font-family: Tahoma, Geneva, sans-serif;
}

.banner-chinh-nganh .chuong-trinh-dao-tao h1 {
	color: #FD6504;
	font-size: 42px;
	line-height: 55px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.banner-chinh-nganh .chuong-trinh-dao-tao h3 {
	color: #ffffff;
	font-size: 24px;
	line-height: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.nganh-gioi-thieu {
	margin-top: 20px;
	font-size: 16px;
	color: #151414;
	line-height: 24px;
	text-align: center;
}

.nganh-gioi-thieu p {
	margin-top: 10px;
}

.nganh-tieu-de {
	font-size: 22px;
	/*text-transform: uppercase;*/
	padding: 5px 0px;
	color: #0082c8;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 15px 10px 15px;
	border-bottom: 1px solid #0082c8;
}

.nganh-tieu-de-mon {
	font-size: 16px;
	/*text-transform: uppercase;*/
	padding: 5px;
	color: #FD6504;
	font-weight: bold;
	line-height: 18px;
	margin: 10px 0px 0px 0px;
	border-bottom: none;
}

.nganh-tieu-de-mon:hover {
	color: #FF0000;
	cursor: pointer;
}

.nganh-tieu-de-mon span {
	text-transform: none;
}

.nganh-noi-dung-ket-qua {
	border-bottom: 1px solid #CCC;
	padding-bottom: 30px;
}

.ket-qua-tim .nganh-tieu-de-ket-qua {
	margin-top: 0px;
	font-size: 20px;
	color: #0082c8;
	line-height: 20px;
}

.ket-qua-tim .nganh-link {
	font-size: 12px;
	color: #006621;
}

.ket-qua-tim .nganh-mo-ta {
	font-size: 14px;
	padding: 5px 0px;
	color: #151414;
	line-height: 20px;
}

.ket-qua-tim li {
	margin: 10px 0px;
}

.nganh-hoc-phi {
	font-weight: bold;
	font-size: 14px;
	padding: 0px 5px;
}

.nganh-mon-hoc {
	font-size: 14px;
	padding: 0px 5px;
}

.nganh-mon-hoc ul,
.nganh-hoc-phi ul {
	list-style-type: square;
	margin-left: 15px;
	padding-left: 15px;
}

.nganh-mon-hoc ol {
	list-style-type: decimal;
	margin-left: 15px;
	padding-left: 15px;
}

.nganh-tieu-de-an {
	font-size: 24px;
	padding: 5px 0px;
	color: #0082c8;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 15px 10px 15px;
	border-bottom: 1px solid #0082c8;
	display: none;
}

.nganh-chuong-trinh-dao-tao {
	padding-left: 30px;
	padding-right: 30px;

}

.nganh-he-dao-tao {
	font-size: 14px;
	padding: 5px 0px;
	color: #0082c8;
	line-height: 20px;
	margin: 0px 15px 10px 15px;

}

.nganh-khoang-cach-5 {
	padding: 10px;
}

.nganh-tieu-de-muc p {
	font-size: 14px;
	line-height: 14px;
	line-height: 22px;
	margin: 0px;
	color: #151414;
}

.nganh-tieu-de-muc ul {
	list-style-type: square;
	font-size: 14px;
	color: #151414;
	margin-left: 30px;
	margin-bottom: 10px;
	line-height: 22px
}

.nganh-tieu-de-muc ol {
	list-style-type: square;
	font-size: 14px;
	color: #151414;
	margin-left: 30px;
	margin-bottom: 10px;
	line-height: 22px
}

.nganh-tieu-de-muc ul ul {
	list-style-type: circle;
}

.nganh-tieu-de-muc ul ol {
	list-style-type: circle;
}

.nganh-tieu-de-muc ol ul {
	list-style-type: circle;
}

.nganh-tieu-de-muc ol ol {
	list-style-type: circle;
}

.nganh-noi-dung p {
	list-style-image: url(../images/ZA104198199.PNG);
	font-size: 14px;
	color: #151414;
	margin-left: 25px;
	margin-right: 5px;
	line-height: 24px;
}


.nganh-noi-dung ol {
	/* list-style-image: url(../images/ZA104198199.PNG); */
	font-size: 14px;
	color: #151414;
	margin-left: 35px;
	line-height: 28px;

}

.nganh-noi-dung {
	font-size: 14px;
	color: #151414;
	line-height: 20px;
}

.nganh-khoang-cach {
	margin-top: 50px;
	margin-bottom: 0px;
}

.nganh-chon:hover {
	width: 20px;
	height: 20px;
	border: 1px solid #FD6504;
	background-color: #ffffff;
	border-radius: 20px;
	padding-left: 3px;
	padding-top: 3px;
	color: #FD6504;
}

.nganh-chon {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	background-color: #FD6504;
	border-radius: 20px;
	padding-left: 3px;
	padding-top: 3px;
	color: #ffffff;
}

.lich-khai-giang-chon:hover {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 20px;
	padding-left: 3px;
	padding-top: 3px;
	color: #0082c8;
}

.lich-khai-giang-chon {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	background-color: #0082c8;
	border-radius: 20px;
	padding-left: 3px;
	padding-top: 3px;
	color: #ffffff;
}


.nganh-khoang-cach-muc {
	margin-top: 5px;
	margin-bottom: 5px;
}

.sidebar .nganh-tieu-de-khai-giang {
	font-size: 20px;
	color: #ffffff;
	background-color: #FC3;
	line-height: 24px;
	padding: 7px 0px;
	text-align: center;
	margin-bottom: 5px;
}

.sidebar .nganh-tieu-de-hoc-phi {
	font-size: 20px;
	color: #ffffff;
	background-color: #F93;
	line-height: 24px;
	padding: 7px 0px;
	text-align: center;
	margin-bottom: 5px;
}

.sidebar .nganh-tieu-de-dang-ky {
	font-size: 20px;
	color: #ffffff;
	background-color: #F30;
	line-height: 24px;
	padding: 7px 0px;
	text-align: center;
	margin-bottom: 5px;
}

.sidebar .nganh-quang-cao {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	text-align: left;
}

.nganh-danh-sach-hoc-vien {
	position: relative;
	/* background-image:url(../images/bg_Y_Kien_HV.jpg); */
	margin: 20px;
	height: 280px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.nganh-danh-sach-san-pham {
	margin: 10px 15px;
}

.nganh-danh-sach-hoc-vien .cach-tren {
	top: 20px;
}

.nganh-danh-sach-hoc-vien .sinh-vien {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	/* background-image:url(../images/cam_nhan.jpg); */
	background-size: cover;
	margin: auto;
}

.nganh-danh-sach-hoc-vien .sinh-vien-2 {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	/* background-image:url(../images/cam_nhan2.jpg); */
	background-size: cover;
	margin: auto;
}

.nganh-danh-sach-hoc-vien .cam-nhan {
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	margin-top: 30px;
	font-size: 22px;
	color: #FFF;
	font-style: italic;
	line-height: 32px;
	letter-spacing: 2px;
}

#owl-san-pham .item {
	margin: 3px;
}

#owl-san-pham .item img {
	display: block;
	width: 100%;
	height: auto;
}

#owl-san-pham .owl-controls {
	position: absolute;
	bottom: 2%;
	text-align: center;
	width: 100%;
}

.nganh-danh-sach-san-pham {
	padding-left: 0px;
	padding-right: 0px;
}

.nganh-danh-sach-khoa-hoc {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px 0px;
}

.khoang-cach-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.khoang-cach-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.khung-nganh {
	position: relative;
	/* background-image:url(../images/bg.jpg); */
	margin: auto;
	padding: 5% 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-position: bottom center;
	display: none;
}

.khung-nganh .canh-noi-dung {
	padding: 0px;
}

.khung-nganh .title {
	position: absolute;
	left: 0%;
	top: 20%;
	text-align: center;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 20px;
	padding: 3px;
	line-height: 24px;
}

.khung-nganh .nganh {
	display: block;
	padding-top: 100%;
	opacity: 0.9;
}

.khung-nganh .nganh:hover {
	opacity: 1;
}

.nganh-mon-hoc img {
	border: 1px solid #ffffff;
}

.nganh-mon-hoc-active img {
	border: 1px solid #0082c8;
	;
}

.nganh-mon-hoc-active .nganh-ten-mon {
	background-color: #0082c8;
	;
}

.nganh-mon-hoc:hover img {
	border: 1px solid #0082c8;
	;
}

.nganh-mon-hoc:hover .nganh-ten-mon {
	background-color: #0082c8;
	;
}

.nganh-ten-mon {
	height: 40px;
	background-color: #424141;
	color: #ffffff;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	padding: 0px 5px;

}

.nganh-ten-mon .noi-dung-ten-mon {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.owl-theme .owl-controls {
	/*position:absolute;
	bottom:2%;*/
	text-align: center;
	width: 100%;
}

#slider-nganh .owl-theme .owl-controls {
	position: absolute;
	bottom: 2%;
}

.canh-giua {
	display: table;
	margin: auto;
	border-bottom: 1px solid #ccc;
}

.canh-trai {
	display: table;
	margin-left: 5px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ccc;
}

.khang-cach-tab {
	margin-top: 20px;
	margin-bottom: 20px;
}

.khung-video {
	background-color: #F3F0F0;
	padding: 5px 10px 0px 10px;
	border: 1px solid #e9eaed;
	margin-bottom: 10px;
}

.nganh-khoang-cach-0 {
	padding-left: 5px;
	padding-right: 5px;
}

.nganh-tieu-de-video {
	float: left;
	font-size: 24px;
	color: #0082c8;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nganh-phat-tat-ca {
	margin-left: 10px;
	margin-top: -1px
}

.nganh-thoi-gian-phat {
	position: relative;
	top: -25px;
	color: #ffffff;
	text-align: right;
	margin-right: 10px;
}

.nganh-ten-video {
	position: relative;
	top: -15px;
	text-align: center;
	font-size: 14px;
}

.khung-hoc-vien {
	background-color: #ffffff;
	padding: 5px 10px 0px 10px;
	margin-bottom: 10px;
}

.khung-hoc-vien img {
	border-radius: 100%;
	margin: auto;
	width: 132px;
	height: 132px;
	object-fit: cover;
}

.khung-hoc-vien p {
	font-size: 14px;
	padding-top: 5px;
	line-height: 20px;
}

.khung-hoc-vien h3 {
	font-size: 14px;

}

.khung-giao-vien-chon {
	background-color: #ffffff;
	padding: 5px 10px 0px 10px;

}

.khung-giao-vien-chon img {
	border: 1px solid #ddd;
	margin-right: 30px;
	margin-bottom: 0px;
	float: left;
	width: 250px;
	height: 250px;
}

.khung-giao-vien {
	background-color: #ffffff;
	padding: 5px 10px 0px 10px;
	margin-bottom: 10px;
}

.khung-giao-vien img {
	border: 1px solid #ddd;
	margin-bottom: 0px;
	width: 100%;
}

.nganh-gioi-thieu-giao-vien {
	min-height: 200px;
	background-color: #ffffff;
	padding: 2px;
}

.nganh-gioi-thieu-giao-vien .gioi-thieu {
	background-color: #FD6504;
	padding: 5px 8px 5px 8px;
	color: #FFF;
	margin-left: 275px;
	margin-right: 5px
}

.nganh-gioi-thieu-giao-vien .gioi-thieu h1 {
	font-size: 18px;
	padding: 5px 0px 5px 0px;
	color: #FFF;
}

.nganh-gioi-thieu-giao-vien .gioi-thieu p {
	line-height: 14px;
	font-size: 14px;
	color: #FFF;
	text-align: justify;
}

.nganh-gioi-thieu-giao-vien .mo-ta {
	padding: 6px;
	font-size: 14px;
	text-align: justify;
}

.khung-giao-vien img:hover {
	border: 1px solid #0082c8;
}

.khung-giao-vien img:hover+.nganh-ten-giao-vien {
	background-color: #0082c8;
	color: #ffffff;
}

.khung-giao-vien .active .nganh-ten-giao-vien {
	background-color: #FD6504 !important;
	color: #ffffff;
}

.khung-giao-vien .active img {
	border: 1px solid #FD6504 !important;
}

.nganh-ten-giao-vien {
	font-size: 12px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 12px;
	padding: 5px 1px;
	background-color: #E2E2E2;
}

.nganh-tieu-de-giao-vien {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 0px;
	color: #0082c8;
	line-height: 20px;
	margin: 0px 5px 5px 5px;
	border-bottom: 1px solid #0082c8;
}

.nganh-slogan-giao-vien {
	font-size: 14px;
	color: #151414;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	line-height: 20px;
	text-align: justify;
}

.nganh-dang-ky-hoc {
	font-size: 14px;
	padding: 5px 10px;
	text-align: center;
	background-color: #0082c8;
	color: #ffffff;
	margin-left: 30px;
	border: 1px solid #0082c8;
	border-radius: 3px;
}

.nganh-dang-ky-hoc:hover {
	color: #0082c8;
	background-color: #ffffff;
	cursor: pointer;
}

.khung-san-pham {
	background-color: #ffffff;
	padding: 5px 10px 0px 10px;
	margin-bottom: 10px;

}

.khung-san-pham img {
	border: 1px solid #0082c8;
	margin-bottom: 0px;
	width: 100%;
}

.khung-san-pham img:hover {
	border: 1px solid #FD6504;
}

.khung-san-pham img:hover+.nganh-ten-san-pham {
	background-color: #FD6504;
	color: #ffffff;
	border: 3px solid #FD6504;
}

.nganh-ten-san-pham {
	font-size: 12px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 20px;
	padding: 8px 2px;
	background-color: #0082c8;
	color: #ffffff;
	border: 3px solid #0082c8;
}

.san-pham-nhom-mon-chinh {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%
}

.san-pham-nhom-mon-tieu_de {
	width: 100%;
	height: 80px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	display: table;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: -80px;
	font-size: 28px;
	line-height: 32px;
	transition: all 1s ease-out;
	transform: translateY(-80px);
}

.san-pham-nhom-mon-noi-dung {
	font-size: 22px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	line-height: 28px;
}

.san-pham-nhom-mon-chinh:hover .san-pham-nhom-mon-tieu_de {
	transform: translateY(80px);
}

.san-pham-nhom-mon-phu {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
}

.san-pham-nhom-mon-tieu_de_phu {
	width: 100%;
	height: 45px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	display: table;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: -45px;
	font-size: 14px;
	line-height: 18px;
	transition: all 1s ease-out;
	transform: translateY(-45px);
}

.san-pham-nhom-mon-noi-dung-phu {
	font-size: 14px;
	height: 35px;
	display: table-cell;
	vertical-align: middle;
}

.san-pham-nhom-mon-phu:hover .san-pham-nhom-mon-tieu_de_phu {
	transform: translateY(45px);
}

@media screen and (max-width:960px) {
	.canh-giua {
		margin-left: 15%;
	}

}

@media screen and (max-width:767px) {
	/* .container {
		padding-left: 0px;
		padding-right: 0px;
	} */

	.nganh-khoang-cach {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.khoang-cach-5 {
		padding-top: 10px;
		/*padding-left:10px;
		padding-right:10px;*/
	}

	/* .banner-chinh-nganh .chuong-trinh-dao-tao {
		position: absolute;
		top: 10%;
		left: 3%;
	} */
	/* 
	.banner-chinh-nganh .chuong-trinh-dao-tao h2 {
		color: #ffffff;
		font-size: 22px;
		line-height: 30px;
		font-family: Tahoma, Geneva, sans-serif;
	}

	.banner-chinh-nganh .chuong-trinh-dao-tao h1 {
		color: #FD6504;
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}

	.banner-chinh-nganh .chuong-trinh-dao-tao h3 {
		color: #ffffff;
		font-size: 20px;
		line-height: 30px;
		font-family: Arial, Helvetica, sans-serif;
	} */

	.nganh-gioi-thieu {
		font-size: 14px;
		color: #666;
		line-height: 20px;
		text-align: justify;
	}

	.nganh-tieu-de {
		font-size: 20px;
		padding: 5px 0px;
		color: #0082c8;
		line-height: 20px;
		margin: 0px 15px 10px 15px;
		border-bottom: 1px solid #0082c8;
	}

	.nganh-tieu-de-an {
		display: block;
		font-size: 20px;
	}

	.khung-nganh {
		position: relative;
		/* background-image:url(../images/bg.jpg); */
		margin: auto;
		padding: 2%;
		width: 100%;
		height: 100%;
		text-align: center;
		background-size: cover;
		background-position: bottom center;
		display: block;
	}

	.khung-nganh .canh-noi-dung {
		padding: 0px;
	}

	.khung-nganh .title {
		position: absolute;
		left: 0%;
		top: 15%;
		text-align: center;
		width: 100%;
		font-family: Helvetica, Arial, sans-serif;
		color: #FFF;
		font-size: 16px;
		padding: 3px;
		line-height: 24px;
	}

	.nganh-tieu-de-mon {
		font-size: 14px;
		padding: 5px;
		color: #FD6504;
		line-height: 18px;
		margin: 10px 0px 0px 0px;
		border-bottom: none;
	}

	.khung-nganh .nganh {
		display: block;
		padding-top: 15%;
		margin-bottom: 5px;
		opacity: 0.9;
	}

	.khung-nganh .nganh:hover {
		opacity: 1;
	}

	.ket-qua-tim .nganh-tieu-de-ket-qua {
		font-size: 18px;
		color: #0082c8;
		line-height: 18px;
	}

	.ket-qua-tim .nganh-link {
		font-size: 12px;
		color: #006621;
		line-height: 14px;
	}

	.ket-qua-tim .nganh-mo-ta {
		text-align: justify;
	}

	.khang-cach-tab {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.khung-giao-vien-chon img {
		border: 1px solid #ddd;
		margin: 5px auto;
		float: none;
		width: 100%;
		max-width: 250px;
	}

	.nganh-gioi-thieu-giao-vien .gioi-thieu {
		background-color: #FD6504;
		padding: 5px 8px 5px 8px;
		color: #FFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.nganh-dang-ky-hoc {
		color: #FD6504;
		font-size: 14px;
		padding: 5px 10px;
		text-align: center;
		background-color: #0082c8;
		color: #ffffff;
		margin-left: 3px;
	}

	.panel h4.panel-title {
		width: calc(100% - 25px);
	}
}

@media screen and (max-width:480px) {
	.nganh-ten-mon {
		height: 32px;
		background-color: #424141;
		color: #ffffff;
		font-size: 11px;
		line-height: 14px;
		padding: 0px 2px;
	}

	.nganh-ten-mon .noi-dung-ten-mon {
		height: 32px;
		display: table-cell;
		vertical-align: middle;
	}

	/* 
	.banner-chinh-nganh .chuong-trinh-dao-tao {
		position: absolute;
		top: 5%;
		left: 3%;
	}

	.banner-chinh-nganh .chuong-trinh-dao-tao h2 {
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		font-family: Tahoma, Geneva, sans-serif;
		display: none;
	}

	.banner-chinh-nganh .chuong-trinh-dao-tao h1 {
		color: #FD6504;
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}

	.banner-chinh-nganh .chuong-trinh-dao-tao h3 {
		color: #ffffff;
		font-size: 14px;
		line-height: 18px;
		font-family: Arial, Helvetica, sans-serif;
	} */

	.banner-chinh-nganh .ngay-khai-giang {
		position: absolute;
		top: 57%;
		left: 3%;
		color: #ffffff;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.nganh-tieu-de-video {
		float: left;
		font-size: 18px;
		color: #0082c8;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}